In [34]:
import pandas as pd

Opisac wzsystkie zmienne i zrodlo!!!!

In [35]:
df_weather = pd.read_csv("../2. Data/raw/Bozanska_Bulk.csv")

In [36]:
df_weather.head(50)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n
5,284014800,1979-01-01 05:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.90,NaN,-18.02,-22.90,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n
6,284018400,1979-01-01 06:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.92,1000.0,-17.78,-22.92,...,NaN,NaN,NaN,0.18,NaN,100,601,Snow,snow,13n
7,284022000,1979-01-01 07:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.50,NaN,-17.50,-22.50,...,NaN,NaN,NaN,0.20,NaN,100,600,Snow,light snow,13n
8,284025600,1979-01-01 08:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.31,NaN,-17.31,-22.31,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13d
9,284029200,1979-01-01 09:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-16.01,NaN,-18.52,-23.01,...,NaN,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d
10,284032800,1979-01-01 10:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.44,NaN,-15.73,-20.44,...,NaN,NaN,NaN,0.23,NaN,100,600,Snow,light snow,13d
11,284036400,1979-01-01 11:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.40,NaN,-15.56,-20.40,...,NaN,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d
12,284040000,1979-01-01 12:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.62,1600.0,-15.52,-18.32,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13d
13,284043600,1979-01-01 13:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.01,NaN,-15.31,-20.01,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13d
14,284047200,1979-01-01 14:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-12.83,NaN,-15.27,-19.83,...,NaN,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13d
15,284050800,1979-01-01 15:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-11.83,NaN,-14.28,-18.83,...,NaN,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n
16,284054400,1979-01-01 16:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-11.94,NaN,-14.39,-18.94,...,NaN,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n
17,284058000,1979-01-01 17:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-12.10,NaN,-14.69,-19.10,...,NaN,NaN,NaN,0.15,NaN,100,600,Snow,light snow,13n
18,284061600,1979-01-01 18:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.02,1600.0,-14.92,-13.02,...,NaN,NaN,NaN,0.14,NaN,100,600,Snow,light snow,13n
19,284065200,1979-01-01 19:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.07,NaN,-15.37,-20.07,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
20,284068800,1979-01-01 20:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-13.37,NaN,-15.27,-20.37,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
21,284072400,1979-01-01 21:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.12,NaN,-16.99,-22.12,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
22,284076000,1979-01-01 22:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-11.77,NaN,-13.43,-17.71,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
23,284079600,1979-01-01 23:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-11.29,NaN,-12.96,-17.07,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
24,284083200,1979-01-02 00:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-11.38,2000.0,-13.31,-18.38,...,NaN,NaN,NaN,NaN,NaN,100,600,Snow,light snow,13n
25,284086800,1979-01-02 01:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.74,NaN,-12.94,-16.44,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
26,284090400,1979-01-02 02:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.61,NaN,-12.82,-16.03,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
27,284094000,1979-01-02 03:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.66,NaN,-11.48,-14.38,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
28,284097600,1979-01-02 04:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.64,NaN,-11.33,-14.36,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
29,284101200,1979-01-02 05:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.25,NaN,-10.95,-14.19,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
30,284104800,1979-01-02 06:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.44,1600.0,-11.13,-13.45,...,NaN,NaN,NaN,NaN,NaN,100,600,Snow,light snow,13n
31,284108400,1979-01-02 07:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.75,NaN,-11.31,-15.40,...,NaN,NaN,NaN,NaN,NaN,98,804,Clouds,overcast clouds,04n
32,284112000,1979-01-02 08:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.99,NaN,-11.55,-16.03,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04d
33,284115600,1979-01-02 09:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.95,NaN,-12.75,-17.40,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04d
34,284119200,1979-01-02 10:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.14,NaN,-9.46,-14.89,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04d
35,284122800,1979-01-02 11:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.17,NaN,-9.62,-15.17,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04d
36,284126400,1979-01-02 12:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.23,1500.0,-9.18,-12.04,...,NaN,NaN,NaN,NaN,NaN,100,601,Snow,snow,13d
37,284130000,1979-01-02 13:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.30,NaN,-10.01,-15.30,...,NaN,NaN,NaN,NaN,NaN,98,804,Clouds,overcast clouds,04d
38,284133600,1979-01-02 14:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.14,NaN,-9.98,-15.14,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04d
39,284137200,1979-01-02 15:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.74,NaN,-10.58,-15.74,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
40,284140800,1979-01-02 16:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.61,NaN,-10.45,-15.61,...,NaN,NaN,NaN,NaN,NaN,98,804,Clouds,overcast clouds,04n
41,284144400,1979-01-02 17:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.45,NaN,-10.56,-15.45,...,NaN,NaN,NaN,NaN,NaN,99,804,Clouds,overcast clouds,04n
42,284148000,1979-01-02 18:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.33,1600.0,-9.28,-13.51,...,NaN,NaN,NaN,NaN,NaN,100,601,Snow,snow,13n
43,284151600,1979-01-02 19:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.18,NaN,-10.56,-15.18,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
44,284155200,1979-01-02 20:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.06,NaN,-10.31,-15.06,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
45,284158800,1979-01-02 21:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-8.65,NaN,-11.16,-15.65,...,NaN,NaN,NaN,NaN,NaN,99,804,Clouds,overcast clouds,04n
46,284162400,1979-01-02 22:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-7.77,NaN,-9.62,-14.77,...,NaN,NaN,NaN,NaN,NaN,99,804,Clouds,overcast clouds,04n
47,284166000,1979-01-02 23:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-7.73,NaN,-9.45,-14.73,...,NaN,NaN,NaN,NaN,NaN,98,804,Clouds,overcast clouds,04n
48,284169600,1979-01-03 00:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-7.60,3000.0,-8.55,-14.60,...,NaN,NaN,NaN,NaN,NaN,100,601,Snow,snow,13n
49,284173200,1979-01-03 01:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-7.81,NaN,-9.40,-14.03,...,NaN,NaN,NaN,NaN,NaN,98,804,Clouds,overcast clouds,04n

In [37]:
# Najpierw usuniÄ™cie "+0000 UTC" z koÅ„ca stringÃ³w
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'].str.replace(r' \+\d{4} UTC', '', regex=True))

In [38]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [39]:
# NastÄ™pnie konwersja do datetime bez informacji o strefie czasowej
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [40]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [41]:
df_weather['city_name'] = df_weather['city_name'].replace('Custom location', 'Bozanska')

In [42]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Bozanska,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Bozanska,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Bozanska,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Bozanska,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Bozanska,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [43]:
# Grupowanie danych po dniu (zignorowanie godziny)
df_weather['date'] = df_weather['dt_iso'].dt.date
daily_weather = df_weather.groupby('date').agg({
    # Agregacja danych pogodowych, np. Å›rednia temperatura, suma opadÃ³w, maksymalne zachmurzenie itp.
    'city_name': 'first',
    'lat': 'first',
    'lon': 'first',
    'temp': 'mean',
    'feels_like': 'mean',
    'temp_min': 'min',
    'temp_max': 'max',
    'pressure': 'mean',
    'humidity': 'mean',
    'wind_speed': 'mean',
    'rain_1h': 'sum',
    'rain_3h': 'sum',
    'snow_1h': 'sum',
    'snow_3h': 'sum',
    'clouds_all': 'max',
    'weather_main': lambda x: x.mode()[0] if not x.mode().empty else 'Unknown'  # NajczÄ™stsze zjawisko pogodowe
}).reset_index()

In [44]:
df_weather.head(20)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
0,283996800,1979-01-01 00:00:00,3600,Bozanska,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n,1979-01-01
1,284000400,1979-01-01 01:00:00,3600,Bozanska,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n,1979-01-01
2,284004000,1979-01-01 02:00:00,3600,Bozanska,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n,1979-01-01
3,284007600,1979-01-01 03:00:00,3600,Bozanska,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n,1979-01-01
4,284011200,1979-01-01 04:00:00,3600,Bozanska,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n,1979-01-01
5,284014800,1979-01-01 05:00:00,3600,Bozanska,54.473028,18.302179,-15.90,NaN,-18.02,-22.90,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n,1979-01-01
6,284018400,1979-01-01 06:00:00,3600,Bozanska,54.473028,18.302179,-15.92,1000.0,-17.78,-22.92,...,NaN,NaN,0.18,NaN,100,601,Snow,snow,13n,1979-01-01
7,284022000,1979-01-01 07:00:00,3600,Bozanska,54.473028,18.302179,-15.50,NaN,-17.50,-22.50,...,NaN,NaN,0.20,NaN,100,600,Snow,light snow,13n,1979-01-01
8,284025600,1979-01-01 08:00:00,3600,Bozanska,54.473028,18.302179,-15.31,NaN,-17.31,-22.31,...,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13d,1979-01-01
9,284029200,1979-01-01 09:00:00,3600,Bozanska,54.473028,18.302179,-16.01,NaN,-18.52,-23.01,...,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d,1979-01-01
10,284032800,1979-01-01 10:00:00,3600,Bozanska,54.473028,18.302179,-13.44,NaN,-15.73,-20.44,...,NaN,NaN,0.23,NaN,100,600,Snow,light snow,13d,1979-01-01
11,284036400,1979-01-01 11:00:00,3600,Bozanska,54.473028,18.302179,-13.40,NaN,-15.56,-20.40,...,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d,1979-01-01
12,284040000,1979-01-01 12:00:00,3600,Bozanska,54.473028,18.302179,-13.62,1600.0,-15.52,-18.32,...,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13d,1979-01-01
13,284043600,1979-01-01 13:00:00,3600,Bozanska,54.473028,18.302179,-13.01,NaN,-15.31,-20.01,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13d,1979-01-01
14,284047200,1979-01-01 14:00:00,3600,Bozanska,54.473028,18.302179,-12.83,NaN,-15.27,-19.83,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13d,1979-01-01
15,284050800,1979-01-01 15:00:00,3600,Bozanska,54.473028,18.302179,-11.83,NaN,-14.28,-18.83,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n,1979-01-01
16,284054400,1979-01-01 16:00:00,3600,Bozanska,54.473028,18.302179,-11.94,NaN,-14.39,-18.94,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n,1979-01-01
17,284058000,1979-01-01 17:00:00,3600,Bozanska,54.473028,18.302179,-12.10,NaN,-14.69,-19.10,...,NaN,NaN,0.15,NaN,100,600,Snow,light snow,13n,1979-01-01
18,284061600,1979-01-01 18:00:00,3600,Bozanska,54.473028,18.302179,-13.02,1600.0,-14.92,-13.02,...,NaN,NaN,0.14,NaN,100,600,Snow,light snow,13n,1979-01-01
19,284065200,1979-01-01 19:00:00,3600,Bozanska,54.473028,18.302179,-13.07,NaN,-15.37,-20.07,...,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n,1979-01-01

In [45]:
daily_weather.head(11)

,date,city_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_main
0,1979-01-01,Bozanska,54.473028,18.302179,-14.100000,-20.617500,-19.14,-9.46,1002.416667,82.000000,6.157917,0.0,0.0,3.57,0.0,100,Snow
1,1979-01-02,Bozanska,54.473028,18.302179,-9.037917,-15.179167,-14.14,-7.40,1004.791667,85.375000,4.449583,0.0,0.0,0.00,0.0,100,Clouds
2,1979-01-03,Bozanska,54.473028,18.302179,-10.780000,-16.679167,-16.33,-6.84,1004.500000,87.041667,3.805833,0.0,0.0,1.02,0.0,100,Clouds
3,1979-01-04,Bozanska,54.473028,18.302179,-15.627083,-20.063750,-21.14,-9.08,1008.916667,86.083333,2.346250,0.0,0.0,1.42,0.0,100,Clouds
4,1979-01-05,Bozanska,54.473028,18.302179,-5.102083,-11.947500,-11.22,-2.42,1014.500000,84.750000,6.470417,0.0,0.0,1.81,0.0,100,Snow
5,1979-01-06,Bozanska,54.473028,18.302179,-6.948333,-13.033750,-13.14,-2.08,1027.666667,87.291667,4.378750,0.0,0.0,0.00,0.0,93,Clouds
6,1979-01-07,Bozanska,54.473028,18.302179,-7.670833,-14.644583,-13.43,-1.46,1024.958333,82.250000,9.538333,0.0,0.0,1.93,0.0,100,Clouds
7,1979-01-08,Bozanska,54.473028,18.302179,0.062500,-5.922083,-3.14,0.92,1014.500000,95.583333,7.611667,0.0,0.0,0.22,0.0,100,Clouds
8,1979-01-09,Bozanska,54.473028,18.302179,-0.335417,-5.145417,-1.49,0.69,1009.541667,95.458333,4.762500,0.0,0.0,3.71,0.0,100,Clouds
9,1979-01-10,Bozanska,54.473028,18.302179,-1.374167,-7.143750,-4.29,0.16,999.291667,91.708333,6.078750,0.0,0.0,1.25,0.0,100,Clouds
10,1979-01-11,Bozanska,54.473028,18.302179,-3.272083,-9.855417,-5.24,-1.08,992.500000,90.500000,6.949167,0.0,0.0,0.38,0.0,100,Clouds

Zapisanie ramki do pliku po przetworzeniu:

In [46]:
daily_weather.to_csv('../2. Data/processed/Bozanska_Bulk_processed.csv')