In [56]:
import pandas as pd

In [57]:
df_weather = pd.read_csv("../2. Data/raw/Bozanska_Bulk.csv")

In [58]:
df_weather.head(100)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,284338800,1979-01-04 23:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.14,NaN,-11.44,-17.14,...,NaN,NaN,NaN,0.12,NaN,100,600,Snow,light snow,13n
96,284342400,1979-01-05 00:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.20,6000.0,-11.13,-16.81,...,NaN,NaN,NaN,0.11,NaN,75,620,Snow,light shower snow,13n
97,284346000,1979-01-05 01:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-10.01,NaN,-11.70,-17.01,...,NaN,NaN,NaN,NaN,NaN,94,804,Clouds,overcast clouds,04n
98,284349600,1979-01-05 02:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-9.96,NaN,-11.91,-16.96,...,NaN,NaN,NaN,NaN,NaN,97,804,Clouds,overcast clouds,04n
99,284353200,1979-01-05 03:00:00 +0000 UTC,3600,Custom location,54.473028,18.302179,-6.17,NaN,-8.04,-13.02,...,NaN,NaN,NaN,0.11,NaN,98,600,Snow,light snow,13n

In [59]:
# Najpierw usunięcie "+0000 UTC" z końca stringów
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'].str.replace(r' \+\d{4} UTC', '', regex=True))

In [60]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [61]:
# Następnie konwersja do datetime bez informacji o strefie czasowej
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [62]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Custom location,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Custom location,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Custom location,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Custom location,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Custom location,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [63]:
df_weather['city_name'] = df_weather['city_name'].replace('Custom location', 'Bozanska')

In [64]:
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Bozanska,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n
1,284000400,1979-01-01 01:00:00,3600,Bozanska,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00,3600,Bozanska,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00,3600,Bozanska,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00,3600,Bozanska,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n

In [65]:
# Grupowanie danych po dniu (zignorowanie godziny)
df_weather['date'] = df_weather['dt_iso'].dt.date
daily_weather = df_weather.groupby('date').agg({
    # Agregacja danych pogodowych, np. średnia temperatura, suma opadów, maksymalne zachmurzenie itp.
    'city_name': 'first',
    'lat': 'first',
    'lon': 'first',
    'temp': 'mean',
    'feels_like': 'mean',
    'temp_min': 'min',
    'temp_max': 'max',
    'pressure': 'mean',
    'humidity': 'mean',
    'wind_speed': 'mean',
    'rain_1h': 'sum',
    'rain_3h': 'sum',
    'snow_1h': 'sum',
    'snow_3h': 'sum',
    'clouds_all': 'max',
    'weather_main': lambda x: x.mode()[0] if not x.mode().empty else 'Unknown'  # Najczęstsze zjawisko pogodowe
}).reset_index()

In [66]:
df_weather.head(20)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date
0,283996800,1979-01-01 00:00:00,3600,Bozanska,54.473028,18.302179,-15.81,600.0,-17.67,-22.81,...,NaN,NaN,0.26,NaN,100,601,Snow,snow,13n,1979-01-01
1,284000400,1979-01-01 01:00:00,3600,Bozanska,54.473028,18.302179,-15.84,NaN,-18.22,-22.84,...,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13n,1979-01-01
2,284004000,1979-01-01 02:00:00,3600,Bozanska,54.473028,18.302179,-15.97,NaN,-18.35,-22.97,...,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13n,1979-01-01
3,284007600,1979-01-01 03:00:00,3600,Bozanska,54.473028,18.302179,-16.29,NaN,-18.66,-23.29,...,NaN,NaN,0.18,NaN,100,600,Snow,light snow,13n,1979-01-01
4,284011200,1979-01-01 04:00:00,3600,Bozanska,54.473028,18.302179,-16.04,NaN,-18.28,-23.04,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n,1979-01-01
5,284014800,1979-01-01 05:00:00,3600,Bozanska,54.473028,18.302179,-15.90,NaN,-18.02,-22.90,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13n,1979-01-01
6,284018400,1979-01-01 06:00:00,3600,Bozanska,54.473028,18.302179,-15.92,1000.0,-17.78,-22.92,...,NaN,NaN,0.18,NaN,100,601,Snow,snow,13n,1979-01-01
7,284022000,1979-01-01 07:00:00,3600,Bozanska,54.473028,18.302179,-15.50,NaN,-17.50,-22.50,...,NaN,NaN,0.20,NaN,100,600,Snow,light snow,13n,1979-01-01
8,284025600,1979-01-01 08:00:00,3600,Bozanska,54.473028,18.302179,-15.31,NaN,-17.31,-22.31,...,NaN,NaN,0.21,NaN,100,600,Snow,light snow,13d,1979-01-01
9,284029200,1979-01-01 09:00:00,3600,Bozanska,54.473028,18.302179,-16.01,NaN,-18.52,-23.01,...,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d,1979-01-01
10,284032800,1979-01-01 10:00:00,3600,Bozanska,54.473028,18.302179,-13.44,NaN,-15.73,-20.44,...,NaN,NaN,0.23,NaN,100,600,Snow,light snow,13d,1979-01-01
11,284036400,1979-01-01 11:00:00,3600,Bozanska,54.473028,18.302179,-13.40,NaN,-15.56,-20.40,...,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13d,1979-01-01
12,284040000,1979-01-01 12:00:00,3600,Bozanska,54.473028,18.302179,-13.62,1600.0,-15.52,-18.32,...,NaN,NaN,0.19,NaN,100,600,Snow,light snow,13d,1979-01-01
13,284043600,1979-01-01 13:00:00,3600,Bozanska,54.473028,18.302179,-13.01,NaN,-15.31,-20.01,...,NaN,NaN,0.17,NaN,100,600,Snow,light snow,13d,1979-01-01
14,284047200,1979-01-01 14:00:00,3600,Bozanska,54.473028,18.302179,-12.83,NaN,-15.27,-19.83,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13d,1979-01-01
15,284050800,1979-01-01 15:00:00,3600,Bozanska,54.473028,18.302179,-11.83,NaN,-14.28,-18.83,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n,1979-01-01
16,284054400,1979-01-01 16:00:00,3600,Bozanska,54.473028,18.302179,-11.94,NaN,-14.39,-18.94,...,NaN,NaN,0.16,NaN,100,600,Snow,light snow,13n,1979-01-01
17,284058000,1979-01-01 17:00:00,3600,Bozanska,54.473028,18.302179,-12.10,NaN,-14.69,-19.10,...,NaN,NaN,0.15,NaN,100,600,Snow,light snow,13n,1979-01-01
18,284061600,1979-01-01 18:00:00,3600,Bozanska,54.473028,18.302179,-13.02,1600.0,-14.92,-13.02,...,NaN,NaN,0.14,NaN,100,600,Snow,light snow,13n,1979-01-01
19,284065200,1979-01-01 19:00:00,3600,Bozanska,54.473028,18.302179,-13.07,NaN,-15.37,-20.07,...,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n,1979-01-01

In [67]:
daily_weather.head(11)

,date,city_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_main
0,1979-01-01,Bozanska,54.473028,18.302179,-14.100000,-20.617500,-19.14,-9.46,1002.416667,82.000000,6.157917,0.0,0.0,3.57,0.0,100,Snow
1,1979-01-02,Bozanska,54.473028,18.302179,-9.037917,-15.179167,-14.14,-7.40,1004.791667,85.375000,4.449583,0.0,0.0,0.00,0.0,100,Clouds
2,1979-01-03,Bozanska,54.473028,18.302179,-10.780000,-16.679167,-16.33,-6.84,1004.500000,87.041667,3.805833,0.0,0.0,1.02,0.0,100,Clouds
3,1979-01-04,Bozanska,54.473028,18.302179,-15.627083,-20.063750,-21.14,-9.08,1008.916667,86.083333,2.346250,0.0,0.0,1.42,0.0,100,Clouds
4,1979-01-05,Bozanska,54.473028,18.302179,-5.102083,-11.947500,-11.22,-2.42,1014.500000,84.750000,6.470417,0.0,0.0,1.81,0.0,100,Snow
5,1979-01-06,Bozanska,54.473028,18.302179,-6.948333,-13.033750,-13.14,-2.08,1027.666667,87.291667,4.378750,0.0,0.0,0.00,0.0,93,Clouds
6,1979-01-07,Bozanska,54.473028,18.302179,-7.670833,-14.644583,-13.43,-1.46,1024.958333,82.250000,9.538333,0.0,0.0,1.93,0.0,100,Clouds
7,1979-01-08,Bozanska,54.473028,18.302179,0.062500,-5.922083,-3.14,0.92,1014.500000,95.583333,7.611667,0.0,0.0,0.22,0.0,100,Clouds
8,1979-01-09,Bozanska,54.473028,18.302179,-0.335417,-5.145417,-1.49,0.69,1009.541667,95.458333,4.762500,0.0,0.0,3.71,0.0,100,Clouds
9,1979-01-10,Bozanska,54.473028,18.302179,-1.374167,-7.143750,-4.29,0.16,999.291667,91.708333,6.078750,0.0,0.0,1.25,0.0,100,Clouds
10,1979-01-11,Bozanska,54.473028,18.302179,-3.272083,-9.855417,-5.24,-1.08,992.500000,90.500000,6.949167,0.0,0.0,0.38,0.0,100,Clouds