#### Wstęp do Użycia SQLite w Analizie Danych
W dzisiejszych czasach danych jest więcej niż kiedykolwiek, a ich rola w podejmowaniu decyzji biznesowych i naukowych jest nie do przecenienia. Jednak zarządzanie i analiza tych danych wymaga odpowiednich narzędzi. SQLite, jako lekka baza danych, doskonale nadaje się do tego zadania, szczególnie gdy praca odbywa się w środowisku deweloperskim lub testowym, gdzie pełnowymiarowe systemy baz danych mogą być niepraktyczne.

SQLite to biblioteka w języku C, która dostarcza lekki dyskowy system baz danych. Pozwala na dostęp do bazy danych bez konieczności konfiguracji serwera czy wykonywania złożonych procedur instalacyjnych, co czyni ją idealnym wyborem dla indywidualnych deweloperów, małych projektów, a także aplikacji mobilnych i desktopowych.

#### Główne zalety SQLite:

- Samowystarczalność: SQLite jest samodzielnym systemem baz danych, który nie wymaga serwera bazy danych, co oznacza mniej konfiguracji i prostszą administrację.
- Zero konfiguracji: Nie wymaga od użytkownika konfigurowania. Po prostu jest gotowa do użycia.
- Przenośność: Baza danych SQLite jest przechowywana w jednym pliku na dysku, co ułatwia zarządzanie danymi i ich przenoszenie.
- Niewielki rozmiar: Jest bardzo lekka i nie obciąża zasobów systemu, co jest ważne w środowiskach z ograniczonymi zasobami.
- Transakcyjność: SQLite obsługuje transakcje ACID, co gwarantuje, że wszystkie operacje na bazie są wykonane poprawnie lub w przypadku błędu nie zostaną wykonane wcale.

W naszym projekcie, wykorzystujemy SQLite do przechowywania, zarządzania i analizowania danych związanych z instalacjami fotowoltaicznymi. Użycie tego systemu baz danych pozwala na elastyczne zarządzanie danymi i ich szybką analizę.

In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine,text

In [2]:
# Ścieżka do przetworzonego pliku danych
csv_file_path = '../2. Data/processed/combined_data_processed.csv'

In [3]:
# Ścieżka do pliku bazy danych SQLite
sqlite_db_path = r'../5. Baza_Danych/projekt_fotowoltaika_2024.db'

In [4]:
# Tworzenie połączenia z bazą danych
engine = create_engine(f'sqlite:///{sqlite_db_path}')

In [5]:
# Usunięcie istniejącej tabeli (jeśli istnieje) i stworzenie nowej
with engine.connect() as con:
    con.execute(text('DROP TABLE IF EXISTS projekt_fotowoltaika_2024'))

In [6]:
# Załadowanie danych z pliku CSV do bazy danych SQLite
df = pd.read_csv(csv_file_path)
df.to_sql('projekt_fotowoltaika_2024', engine, if_exists='replace', index=False)

49308

#### Sprawdzenia bazy danych

In [7]:
# Zapytanie o listę tabel w bazie danych
with engine.connect() as con:
    tables_list = con.execute(text("SELECT name FROM sqlite_master WHERE type='table';")).fetchall()
    print('Lista tabel:', tables_list)

Lista tabel: [('projekt_fotowoltaika_2024',)]

In [8]:
# Sprawdzenie kilku pierwszych rekordów z tabeli projekt_fotowoltaika_2024
with engine.connect() as con:
    query = text("SELECT * FROM projekt_fotowoltaika_2024 LIMIT 5;")
    example_data = pd.read_sql(query, con)
    
print('Pierwsze rekordy w tabeli projekt_fotowoltaika_2024:')
print(example_data)

Pierwsze rekordy w tabeli projekt_fotowoltaika_2024:
   Unnamed: 0        date    city_name        lat        lon       temp  \
0           0  1979-01-01  Baden_Baden  48.765640   8.228524 -10.442083
1           1  1979-01-01     Bozanska  54.473028  18.302179 -14.100000
2           2  1979-01-01  Walcz_Drugi  53.257039  16.521203 -16.437083
3           3  1979-01-02  Baden_Baden  48.765640   8.228524  -8.856667
4           4  1979-01-02     Bozanska  54.473028  18.302179  -9.037917

   feels_like  temp_min  temp_max     pressure   humidity  wind_speed  \
0  -16.532917    -16.18      3.02  1013.666667  81.916667    3.681667
1  -20.617500    -19.14     -9.46  1002.416667  82.000000    6.157917
2  -23.322500    -21.26     -9.57  1003.708333  82.416667    3.682083
3  -14.874167    -15.82     -3.96  1024.250000  84.208333    4.524583
4  -15.179167    -14.14     -7.40  1004.791667  85.375000    4.449583

   clouds_all weather_main
0         100         Snow
1         100         Snow
2         100       Clouds
3         100         Snow
4         100       Clouds

In [9]:
# Sprawdzenie struktury tabeli (nazwy kolumn)
with engine.connect() as con:
    query = text("PRAGMA table_info(projekt_fotowoltaika_2024);")
    columns_info = pd.read_sql(query, con)

print('Informacje o kolumnach:')
print(columns_info)

Informacje o kolumnach:
    cid          name    type  notnull dflt_value  pk
0     0    Unnamed: 0  BIGINT        0       None   0
1     1          date    TEXT        0       None   0
2     2     city_name    TEXT        0       None   0
3     3           lat   FLOAT        0       None   0
4     4           lon   FLOAT        0       None   0
5     5          temp   FLOAT        0       None   0
6     6    feels_like   FLOAT        0       None   0
7     7      temp_min   FLOAT        0       None   0
8     8      temp_max   FLOAT        0       None   0
9     9      pressure   FLOAT        0       None   0
10   10      humidity   FLOAT        0       None   0
11   11    wind_speed   FLOAT        0       None   0
12   12    clouds_all  BIGINT        0       None   0
13   13  weather_main    TEXT        0       None   0